[user]
	name = luukvankooten
	email = luukvankooten@gmail.com
[core]
	autocrlf = input
	excludesfile = ~/.gitingore-global
[url "https://git.profects.com/"]
	insteadOf = git@git.profects.com:
	name = luukvankooten
	email = luuk.van.kooten@profects.com
